<ngx-spinner type="ball-spin-clockwise" size="default" bdColor="rgba(51,51,51,0.8)">

<p style="color:white;">Please wait...</p>
</ngx-spinner>
<div class="row">

  <div class="col-lg-3">


    <app-book-category></app-book-category>

  </div>
  <!-- /.col-lg-3 -->

  <div class="col-lg-9">


    <div class="row">

      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let book of books">
        <div class="card h-100">
          <a [routerLink]="'/books/'+book.id"><img class="card-img-top img-responsive" [src]="book.imageUrl"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a [routerLink]="'/books/'+book.id">{{book.name}}</a>
            </h4>
            <h5>{{book.unitPrice | currency:'LKR'}}</h5>
            <p class="card-text">{{book.description}}</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary float-right" (click)="addToCart(book)">Add to Cart</button>
          </div>
        </div>
      </div>

      <div *ngIf="books?.length == 0 && !books">

        <div class="col-md-12 alert alert-warning mt-3">
          No books found
        </div>


      </div>
      <div *ngIf="books?.length > 0">

        <div class="row">
          <div class="col-md-6">
  
            <div class="row">
              <div class="col-md-5"><span class="ml-2">Page size:</span></div>
              <div class="col-md-7">
                <select (change)="updatePageSize($event.target.value)" class="form-control-sm" style="width:50%">
                  <option selected>
  
                    5
                  </option>
                  <option>
  
                    10
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
  
            <!--Pagination selector-->
            <ngb-pagination class="d-flex justify-content-end"
    [(page)]="currentPage"
    [pageSize]="pageSize"
    [collectionSize]="totalRecords" (pageChange)="listBooks()">
    <ng-template ngbPaginationPrevious>Prev</ng-template>
    <ng-template ngbPaginationNext>Next</ng-template>
  </ngb-pagination>
          </div>
  
        </div>
      </div>

      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
